.wicket-orgman {
  --om-primary-color: #132a55; /* baseline-like navy */
  --om-primary-color-hover: #0f2348;
  --om-border-color: #d9d9de;
  --om-background-light: #f5f7fa;
  --om-secondary-color: #005dab; /* subtle light neutral */
  --om-secondary-outline-color: #005dab; /* local variable for secondary button outline */
  --om-modal-overlay-color: rgba(0, 0, 0, 0.5);
  --om-text-content: #232a31;
  --om-text-content-reversed: #ffffff;
  --om-text-content-secondary: #4f5962;
  --om-text-content-secondary-reversed: #d3d4d6;
  --om-interactive: #4c4c92;
  --om-interactive-reversed: #ffffff;
  --om-text-disabled: #7e7e7e;
  --om-text-button-label: #232a31;
  --om-text-button-label-reversed: #ffffff;
  --om-text-accent: #4c4c92;
  --om-text-accent-reversed: #f9d84a;
  --om-text-label-1: #232a31;
  --om-text-label-2: #ffffff;
  --om-text-tag: #4c4c92;
  --om-bg-body: #ffffff;
  --om-bg-label: #f9d84a;
  --om-bg-label-2: #4c4c92;
  --om-bg-tag: #fdf5d2;
  --om-bg-interactive: #4c4c92;
  --om-bg-interactive-reversed: #f9d84a;
  --om-bg-white: #ffffff;
  --om-bg-card: #ffffff;
  --om-bg-dark: #4c4c92;
  --om-bg-dark-alternate: #262749;
  --om-bg-light: #ffffff;
  --om-bg-light-alternate: #ededf4;
  --om-bg-light-neutral: #ededf4;
  --om-bg-image-overlay: rgba(76, 76, 146, 0.85);
  --om-bg-accent-dark: #262749;
  --om-bg-accent-light: #d2d2e4;
  --om-bg-callout-1: #d2d2e4;
  --om-bg-callout-2: #fde6cc;
  --om-bg-disabled: #d3d4d6;
  --om-highlight-light: #d2d2e4;
  --om-highlight-dark: #4c4c92;
  --om-status-active: #acdbc5;
  --om-status-inactive: #7b7f83;
  --om-border-card: #4c4c92;
  --om-border-dark: #262749;
  --om-border-light: #e9eaea;
  --om-border-white: #ffffff;
  --om-border-accent: #f9d84a;
  --om-border-interactive: #4c4c92;
  --om-border-interactive-reversed: #f9d84a;
  --om-border-tag: #f9d84a;
  --om-border-input-default: #4c4c92;
  --om-border-disabled: #d3d4d6;
  --om-state-info-primary: #8ed6eb;
  --om-state-info-primary-light: #e3f5fa;
  --om-state-info-secondary: #cca3be;
  --om-state-info-secondary-light: #f2e8ef;
  --om-state-warning: #f99c32;
  --om-state-warning-light: #fde6cc;
  --om-state-error: #f26c6c;
  --om-state-error-light: #fcdada;
  --om-state-success: #acdbc5;
  --om-state-success-light: #eaf6f1;
  --om-table-header-bg: #4c4c92;
  --om-table-header-label: #ffffff;
  --om-table-row: #ffffff;
  --om-table-row-alternate: #ededf4;
  --om-table-row-border: #a5a5c9;
  --om-table-footer-bg: #4c4c92;
  --om-table-footer-label: #ffffff;
  --om-nav-contextual-title: #4c4c92;
  --om-nav-contextual-link-lvl-1: #262749;
  --om-nav-contextual-sublink: #232a31;
  --om-dropshadow: rgba(35, 42, 49, 0.2);
  --om-modal-bg-overlay: rgba(38, 39, 73, 0.9);
  --om-border-sm: 1px;
  --om-border-md: 2px;
  --om-border-lg: 4px;
  --om-border-interactive-sm: 1px;
  --om-border-interactive-md: 2px;
  --om-border-interactive-lg: 4px;
  --om-border-alert: 4px;
  --om-border-call-out: 0px;
  --om-border-main-nav-top: 0px;
  --om-border-footer-top: 1px;
  --om-border-main-nav-bottom: 0px;
  --om-border-card-size: 0px;
  --om-border-tag-size: 2px;
  --om-border-dynamic-card: 0px;
  --om-border-listing-card: 0px;
  --om-border-featured-card: 0px;
  --om-border-banner-bottom: 1px;
  --om-border-footer-social: 2px;
  --om-border-footer-divider: 1px;
  --om-space-0: 0px;
  --om-space-025: 2px;
  --om-space-050: 4px;
  --om-space-075: 6px;
  --om-space-100: 8px;
  --om-space-150: 12px;
  --om-space-200: 16px;
  --om-space-250: 20px;
  --om-space-300: 24px;
  --om-space-400: 32px;
  --om-space-500: 40px;
  --om-space-600: 48px;
  --om-space-800: 64px;
  --om-space-1000: 80px;
  --om-card-corner-radius: 8px;
  --om-interactive-corner-radius-lg: 12px;
  --om-interactive-corner-radius-md: 8px;
  --om-image-corner-radius: 0px;
  --om-card-accent-corner-radius: 16px;
  --om-label-corner-radius: 8px;
  --om-tag-corner-radius: 4px;
  --om-input-fields-corner-radius-md: 8px;
  --om-input-fields-corner-radius-sm: 2px;
  --om-alerts-corner-radius: 0px;
  --om-dropdown-mega-corner-radius: 8px;
  --om-main-menu-highlight-radius: 8px;
  --om-nav-links-highlight-radius: 8px;
  --om-banner-radius: 0px;
  --om-social-media-radius: 100px;
  --om-elevation-4: 0 4px 8px var(--om-dropshadow);
  --om-elevation-8: 0 8px 12px var(--om-dropshadow);
  --om-elevation-12: 0 12px 12px var(--om-dropshadow);
  --om-nav-main-bg: #ffffff;
  --om-nav-main-border: #e9eaea;
  --om-nav-main-label: #232a31;
  --om-nav-main-highlight: #d2d2e4;
  --om-nav-main-border-interactive: #4c4c92;
  --om-nav-secondary-label: #4c4c92;
  --om-dropdown-mega-bg: #262749;
  --om-dropdown-mega-heading-link: #f9d84a;
  --om-dropdown-mega-link: #ffffff;
  --om-dropdown-mega-bg-highlight: #4c4c92;
  --om-nav-utility-bg: #262749;
  --om-nav-utility-label: #ffffff;
  --om-nav-utility-bg-highlight: #4c4c92;
  --om-nav-footer-bg: #262749;
  --om-nav-footer-title: #f9d84a;
  --om-nav-footer-sublink: #ffffff;
  --om-nav-footer-border: #4c4c92;
  --om-nav-footer-border-top: #262749;
  --om-nav-footer-social-bg: #f9d84a;
  --om-nav-footer-social-text: #262749;
  --om-nav-footer-social-text-hover: #ffffff;
  --om-nav-footer-social-border-hover: #f9d84a;
  --om-nav-footer-text-content: #ffffff;
  --om-nav-footer-text-interactive: #f9d84a;
  --om-nav-footer-newsletter-bg: #4c4c92;
  --om-nav-footer-newsletter-text-content: #ffffff;
  --om-font-family-name: proxima-nova, sans-serif;
}
